<div class="row">
    <div class="col-md-8">
        <table>
            <tr *ngFor="let row of tableData">
                <td *ngFor="let cell of row">
                    <app-cell
                        [cellNumber]='cell.cellNumber'
                        [cellLevel]='cell.cellLevel'
                        [redStar]='cell.redStar'
                        [killed]='cell.killed || false'
                        [blocked]='cell.blocked'
                        [enhancement]='cell.enhancement || 0'
                        [usedTickets]='cell.usedTickets || 0'
                        (changed)='cellKilled($event)'
                        (reset)='resetCell($event)'
                    ></app-cell>
                </td>
            </tr>
        </table>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <app-scoreboard
            [score]='score'
            [rawScore]='rawScore'
            [stars]='totalStars'
            [redStars]='totalRedStars'
            [usedTickets]='usedTickets'>
        </app-scoreboard>
        <br/><br>
        <span>Left click to kill a cell</span><br/>
        <span>Left click again to enhance and kill</span><br/>
        <span>Right click to reset the cell</span><br/>
        <span>♦ represents a red star</span><br/><br/><br/><br/>
    </div>
    <div class="col-md-4">
        <app-simulate 
            [usedTickets]='usedTickets'
            >
        </app-simulate>
    </div>
    <div class="col-md-4">
        <app-save
            (resetMap)='resetMap($event)'
            (restoreMap)='restoreMap($event)'
            >
        </app-save>
    </div>
</div>

