div {
    font-size: 0.8em;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 10%;
    width: 85px;
    height: 55px;
}

.enhancement-text {
    font-size: 1.1em;
    font-weight: bold;
}

.killed {
    background-color: #80D8FF;
    border: 2px solid;
    border-color: #01579B;
}

.enhanced1 {
    background-color: #40C4FF;
}

.enhanced2 {
    background-color: #00B0FF;
}

.enhanced3 {
    background-color: #0091EA;
}

.alive {
    background-color: #EF5350;
    border: 2px solid;
    border-color: #D50000;
}

.blocked {
    background-color: #9E9E9E;
    border: 2px solid;
    border-color: black;
}

.text-right {
    text-align: right;
    padding-left: 16px;
}

.bottom-text {
    padding-top: 10px;
}

.path {
    background-color: yellow;
}

.complete {
    background-color: #81C784;
}